<!-- <mat-drawer-container class="example-container sidenav">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->

<div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 300px;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item"> <a href="#" class="nav-link active py-3 border-bottom"> <i class="fa fa-home"></i>
                <small>Home</small> </a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom">Admission Request</a></li>
        <li> <a href="#" class="nav-link py-3 border-bottom">Doctor's Patient Analysis</a> </li>
        <li> <a href="#" class="nav-link py-3 border-bottom"> Pateint Medicinal status</a>
        </li>
        <li> <a href="#" class="nav-link py-3 border-bottom">Maintain Patients data
            </a> </li>
    </ul>
</div>