<header class="header">

    <a href="#" class="logo"> <em class="fas fa-heartbeat"></em> medcare. </a>

    <nav class="navbar">

        <a routerLink="menu" routerLinkActive="active">Menu
        </a>

        <a routerLink="enquirypatients" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Admission
            Request</a>
        <a routerLink="doclist" routerLinkActive="active">Total
            Doctors List
        </a>

        <a (click)="redirectlink()">Logout

        </a>



    </nav>

    <div id="menu-btn" class="fas fa-bars" (click)="mobileview()"></div>

</header>

<div class="container">
    <router-outlet></router-outlet>
</div>