<div class="flexcard">
    <div class="card request">
        <h1 class="text-center">Requested Patients</h1>
        <div class="container">
            <br><br>
            <h2 class="text-center counts">{{requestedpatients}}</h2>
        </div>

    </div>

    <div class="card patient">
        <h1 class="text-center">Admitted Patients</h1>
        <div class="container">
            <br><br>
            <h2 class="text-center counts">{{admittedpatients}}</h2>
        </div>
    </div>
    <div class="card doctors">
        <h1 class="text-center">Total Available Doctors</h1>
        <div class="container">
            <br><br>
            <h2 class="text-center counts">{{avialabledoctors}}</h2>
        </div>
    </div>
</div>