<div class="flexcard">
    <div class="card request">
        <div class="container">
            <h1 class="text-center">Requested Patients</h1>
        </div>
        <div class="container">
            <br><br>
            <h2 class="text-center counts">{{requestedPatients}}</h2>
        </div>

    </div>

    <div class="card patient">
        <div class="container">
            <h1 class="text-center">Admitted Patients</h1>
        </div>
        <div class="container">
            <br><br>
            <h2 class="text-center counts">{{admittedPatients}}</h2>
        </div>
    </div>
    <div class="card doctors">
        <div class="container">
            <h1 class="text-center">Total Available Doctors</h1>
        </div>
        <div class="container">
            <br><br>
            <h2 class="text-center counts">{{avialableDoctors}}</h2>
        </div>
    </div>
</div>