<div class="container enquiryform">

    <div class="row m-4">

        <div class="col-md-6 col-sm-12 bg-custom-form">
            <p class="text-center mb-0 pt-4">Doctor Profile Registeration</p>
            <form [formGroup]="doctoradmingroup" (ngSubmit)="doctorprofile(this.doctoradmingroup.value)" class="p-3">
                <div class="form-group" [class.has-error]="doctorname.invalid && doctorname.touched">
                    <label for="Doctorname">Doctor's
                        Name:</label>
                    <input type="text" class="form-control" formControlName="doctorname" [(ngModel)]="honourname"
                        placeholder="'DR.'Enter the DoctorsName">
                    <div class="help-block text-danger" *ngIf="doctorname.invalid && doctorname.touched">
                        <span *ngIf="doctorname.errors?.required">
                            doctorname is REQUIRED!!!
                        </span>
                    </div>
                </div><br>
                <div class="form-group" [class.has-error]="email.invalid && email.touched">
                    <label for="Email">Email:</label>
                    <label for="Doctoremail">Doctor's
                        Email:</label>
                    <input type="email" class="form-control" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                        (change)="emailcheck($event)" formControlName="email" placeholder="'DR.'Enter the DoctorsEmail">
                    <div class="help-block text-danger" *ngIf="email.touched">
                        <span *ngIf="email.errors?.required">
                            Hi Doctor email is REQUIRED!!!
                        </span>
                        <span *ngIf="email.errors?.pattern">
                            Please enter a valid Email address 'ex:validemail@gmail.com'
                        </span>
                    </div>
                </div><br>
                <div class="form-group" [class.has-error]="mobileno.invalid && mobileno.touched">
                    <label for="Mobileno">Mobileno:</label>
                    <input type="text" class="form-control" required maxlength="10" pattern="[789][0-9]{9}"
                        formControlName="mobileno" placeholder="'DR.'Enter the Mobileno">
                    <div class="help-block text-danger" *ngIf="mobileno.touched">
                        <span *ngIf="mobileno.errors?.required">
                            Please enter a mobile no!!!
                        </span>
                        <span *ngIf="mobileno.errors?.pattern">
                            Hi Your mobile is not valid please enter a correct number!!!
                        </span>
                    </div>
                </div><br>
                <div class="form-group" [class.has-error]="gender.invalid && gender.touched">
                    <label for="Gender">Gender:</label>
                    <select formControlName="gender" class="form-select">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <span *ngIf="gender.errors?.required">
                            choose the correct gender!!!
                        </span>
                    </select>
                </div><br>
                <div class="form-group" [class.has-error]="dateofbirth.invalid && dateofbirth.touched">
                    <label for="PatinetDOB" class="col-sm-2 col-form-label">DateofBirth:</label>
                    <input type="date" [max]="getToday()" formControlName="dateofbirth" class="form-control">
                </div><br>
                <div class="form-group">
                    <label for="customFile">Upload Photo:</label>
                    <input type="file" #profilename formControlName="profilesnap" name="snap"
                        (change)="checkfile(profilename.value)" class="form-control" />
                    <div class="help-block text-danger" *ngIf="profilesnap.touched">
                        <span *ngIf="profilesnap.errors?.required">
                            Please select a your photocopies.
                        </span>
                    </div>
                </div><br>
                <div class="form-group" [class.has-error]="mobileno.invalid && mobileno.touched">
                    <label for="certification">Certification No:</label>
                    <input type="text" class="form-control" formControlName="certificateid" [(ngModel)]="certifyno">
                </div><br>
                <div class="form-group">
                    <label for="treatmentspecialist">Specialist:</label>
                    <select formControlName="specialist" class="form-select">

                        <option *ngFor="let treatment of sicks" [value]="treatment">
                            {{treatment}}
                        </option>
                    </select>
                </div><br>
                <div class="form-group">
                    <label for="Degree in Specialization">Specialization in Degree:</label>
                    <select formControlName="specialistdeg" class="form-select">
                        <option value="default">selectDeg</option>
                        <option *ngFor="let course of courses" [value]="course">
                            {{course}}
                        </option>
                    </select>
                </div><br>
                <div class="form-group" [class.has-error]="password.touched">

                    <label for="password">Password:</label>
                    <input type="password" (change)="passwordcheck($event)" class="form-control"
                        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                        formControlName="password" placeholder="password">
                    <div class="help-block text-danger" *ngIf="password.touched">
                        <div class="error" *ngIf="(password.invalid || password.touched) && password.errors?.pattern">
                            Please Enter a Valid password and password should be 8
                            charactes,Atleast
                            one letter and one number</div>
                        <div class="error" *ngIf="(password.invalid || password.touched) && password.errors?.required">
                            Please Enter Your Password</div>
                    </div>
                </div><br>
                <div class="form-group" [class.has-error]="cpassword.invalid && cpassword.touched">
                    <label for="password">Confirmpassword:</label>
                    <input type="password" (change)="checkcpassword($event)" class="form-control"
                        formControlName="cpassword" placeholder="Enter confirm password">
                    <div class="help-block text-danger" *ngIf="cpassword.touched">

                        <div class="error" *ngIf="cpassword.errors?.required">
                            Please Enter Your confirmpassword as per the password</div>
                        <div class="error" *ngIf="this.doctoradmingroup.password !== this.doctoradmingroup.cpassword">
                            confirm password should be Match with Pasword</div>
                    </div>
                </div><br>
                <div class="row">
                    <button type="submit" [disabled]="!doctoradmingroup.valid"
                        class="btn btn-pnt btn-custom mb-3 mt-3">Register</button><br>
                </div>
                <div class="row">
                    <button type="reset" class="btn btn-pnt btn-custom mb-3 mt-3">Reset</button><br>
                </div>
            </form>
            <div class="form-group">
                <label for="signup" class="text-light"> Do Have a Account? <a routerLinkActive="active"
                        routerLink="/doclogin" class="text-info">Login</a></label>
            </div>
        </div>
    </div>
</div>