<header class="header">

    <a href="#" class="logo"> <em class="fas fa-heartbeat"></em> medcare. </a>

    <nav class="navbar">

        <a routerLinkActive="active" routerLink="home">Home
        </a>

        <a routerLink="specialists" routerLinkActive="active">Specialists
        </a>

        <a routerLink="docadmin" routerLinkActive="active">Doctor's
            Portal</a>

        <a routerLink="enquiry" routerLinkActive="active">Patient Portal</a>


        <a routerLink="adminauth" routerLinkActive="active">Admin</a>


    </nav>

    <div id="menu-btn" class="fas fa-bars" (click)="mobileview()"></div>

</header>