<nav>

    <ul class="links">
        <li class="nav-item"><a routerLinkActive="active" routerLink="home">Home
            </a>
        </li>
        <li class="nav-item"><a routerLink="specialists" routerLinkActive="active">Specialists
            </a>
        </li>
        <li class="nav-item"><a routerLink="docadmin" routerLinkActive="active">Doctor's
                Portal</a>
        </li>
        <li class="nav-item"><a routerLink="enquiry" routerLinkActive="active">Patient Portal</a>
        </li>

        <li class="nav-item"><a routerLink="adminauth" routerLinkActive="active">Admin</a>
        </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>