.jumbo{
    background-color: rgb(113, 32, 59);
}
body{
    height: 100vh;
}
input[type="text"]
{
    font-size:24px;
}
.report{
    margin-top: 20%;
}
.testbtn{
    width: 200px;
}
.checkupform{
    border: 2px solid green;
}
.mypatients{
    margin-top: 200px;
}