<header class="header">

    <a href="#" class="logo"> <em class="fas fa-heartbeat"></em> medcare. </a>

    <nav class="navbar">

        <a [ngClass]="tabChange == 1?'showactive':'showdeactive'" (click)="selectab(1)"
            [routerLink]="['mypatient',this.currentPage.id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">My Patients
        </a>



        <a (click)="doctorLogout()" routerLink="active">Logout</a>

        <div id="menu-btn" class="fas fa-bars" (click)="mobileView()"></div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>