<nav>
    <ul class="links">

        <li class="nav-item"><a [ngClass]="tabchange == 1?'showactive':'showdeactive'" routerLink="mypatient"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">My Patients
            </a>
        </li>

        <li class="nav-item"><a (click)="doctorlogout()">Logout</a>
        </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>



<div *ngIf="tabchange == 2">
    <div class="jumbotron">

    </div>
</div>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>