<nav>
    <ul class="links">

        <li class="nav-item"><a routerLink="mypatient" routerLinkActive="active">mypatient
            </a>
        </li>

        <li class="nav-item"><a class="active" (click)="backtohome()">Logout</a>
        </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>



<div *ngIf="tabchange == 2">
    <div class="jumbotron">

    </div>
</div>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>