<footer>
    <div class="footer-content">
        <h3>Multi-Speciality Hospital Admission and Tracking</h3>
        <p>Patient Medicinal queries and appointetstatus checking and makeappointment throught portal</p>
        <ul class="socials">
            <li><a href="#"><em class="fa fa-facebook"></em></a></li>
            <li><a href="#"><em class="fa fa-twitter"></em></a></li>
            <li><a href="#"><em class="fa fa-google-plus"></em></a></li>
            <li><a href="#"><em class="fa fa-youtube"></em></a></li>
            <li><a href="#"><em class="fa fa-linkedin-square"></em></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>

</footer>