<nav>
    <ul class="links">
        <li class="nav-item"><a [routerLink]="['displayreport',this.currentpage.id]" routerLinkActive="active">Medical
                Status
            </a>
        </li>
        <li class="nav-item"><a [routerLink]="['enquiryform',this.currentpage.id,this.patientname]" (click)="showdiv(4)"
                routerLinkActive="active">Patient
                Enquiryform
            </a>
        </li>
        <li class="nav-item"><a routerLinkActive="active" [routerLink]="['yourdoctor',this.currentpage.id]">Your doctor

            </a>
        </li>
        <li class="nav-item"><a (click)="Logout()" routerLinkActive="active">Logout</a>
        </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="container">

    <div *ngIf="divBoolean == 2">
        <div class="container">
            <div class="row">
                <div class="jumbo jumbotron">
                    <h1>medicinal reports</h1>
                    <div class="list-group">
                        <ul class="list-group">
                            <div *ngFor="let items of patienttestreports">
                                <li class="list-group-item">{{items.totalreport}}<button
                                        (click)="displaytestreport(items,3)"
                                        class="viewreport btn btn-primary">view</button></li>

                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="divBoolean == 3">

    <div *ngFor="let item of showobject | operation">

        <div class="container">
            <div class="row">
                <h1>{{item.key}}</h1>
                <div class="card services bg-light text-dark">
                    <div class="card-body">
                        <div class="container transone">
                            <div class="row">
                                <h1>{{item.value}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
    <div class="container">
        <button class="viewbtn btn btn-primary" (click)="showdiv(2)">view another report</button>
    </div>