<header class="header">

    <a href="#" class="logo"> <em class="fas fa-heartbeat"></em> medcare. </a>

    <nav class="navbar">

        <a [routerLink]="['displayreport',this.currentPage.id]" routerLinkActive="active">Medical
            Status
        </a>

        <a [routerLink]="['enquiryform',this.currentPage.id,this.patientName]" (click)="showDiv(4)"
            routerLinkActive="active">Patient
            Enquiryform
        </a>

        <a routerLinkActive="active" [routerLink]="['yourdoctor',this.currentPage.id]">Your doctor

        </a>

        <a (click)="logOut()" routerLinkActive="active">Logout</a>



    </nav>



</header>
<div class="container">
    <router-outlet></router-outlet>
</div>