<div class="container enquiryform">

    <div class="row m-4">

        <div class="col-md-6 col-sm-12 bg-custom-form">
            <p class="text-center mb-0 pt-4">Direct AppointmentBooking</p>
            <form [formGroup]="patientLoginForm" (ngSubmit)="loginAuth(this.patientLoginForm.value)" class="p-3">
                <div class="form-group" [class.has-error]="loginid.invalid && loginid.touched">
                    <label for="Loginid">Login Id:</label>
                    <input type="text" class="form-control" formControlName="loginid"
                        placeholder="Enter the Register LoginId">
                    <div class="help-block text-danger" *ngIf="loginid.touched">
                        <span *ngIf="loginid.errors?.required">
                            LoginId is REQUIRED as per Regitered account!!!
                        </span>
                    </div>
                </div>
                <div class="form-group" [class.has-error]="email.invalid && email.touched">
                    <label for="Email">Email:</label>

                    <input type="email" class="form-control" formControlName="email"
                        placeholder="Enter the Emailaddress">
                    <div class="help-block text-danger" *ngIf="email.invalid && email.touched">
                        Enter a Valid Email Address!!!
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" formControlName="password"
                        placeholder="Enter Your Password">
                </div>
                <button type="submit" class="btn btn-pnt btn-custom mb-3 mt-3">Login</button><br>


                <label for="signup" class="text-light"> Don't Have a Account? <a routerLink="/patientregister"
                        class="text-info">Register</a></label>

            </form>
        </div>
    </div>
</div>