<nav class="navbar navbar-dark fixed-top bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nav nav-pills">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" routerLink="Home" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="Product" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="Contact" routerLinkActive="active">Contact</a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="empform" routerLinkActive="active">Empform</a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="docadmin" routerLinkActive="active">Doctor's Admin</a>
            </li>
            <li class="nav-item"><a class="nav-link" routerLink="enquiry"
                routerLinkActive="active">PatientEnquiryForm</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="routingcontent">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <br><br><br><br><br>

        <router-outlet #myOutlet="outlet"></router-outlet>

      </div>
    </div>
  </div>