<br><br><br><br><br>
<div class="doctotreatments">
    <div class=" container">
        <div class="card bg-light text-dark">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">

                        <img class="img-thumbnail" [src]="skintreat" alt="skin">
                    </div>
                    <div class="col-md-6">

                        <h1 class="text-success">Treatment in Skin</h1>
                        <h2>which provides skin, hair & nail care services, Laser treatments, cosmetic and plastic
                            surgery
                            procedures.
                            Our Plastic surgeon and Dermatologist team will provide you highest standards of
                            personalised
                            and
                            professional Cosmetic treatments (Surgical and Non surgical).

                            Aesthetic medicine is an art and a science.

                            LOOK GOOD, FEEL BETTER has become the mantra for all of us.
                            The desire to achieve and maintain an attractive and youthful appearance is universal.</h2>

                    </div>
                </div>

            </div>
            <br><br>
        </div>
        <div class="container">

            <div class="card bg-light text-dark">
                <div class="card-body">
                    <div class="container transone">

                        <div class="row">
                            <div class="col-md-6">

                                <h1 class="text-success">Treatment in GeneralMedicine</h1>
                                <h2>The General Medicine Service develops specific treatment plans for individuals and
                                    families,
                                    often
                                    making use of SRMC’s vast array of innovative medical technologies. Physicians from
                                    the
                                    General
                                    Medicine Section also play an important role in the university teaching service of
                                    the
                                    internal
                                    residency program at SRU, contributing to SRMCs commitment to educating our future
                                    health
                                    professionals</h2>
                            </div>
                            <div class="col-md-6">
                                <img class="img-thumbnail" [src]="genmedicine" alt="generalmedicine">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <br><br><br>
        </div>

        <div class="card bg-light text-dark">
            <div class="card-body">
                <div class="container trans">

                    <div class="row">
                        <div class="col-md-6">

                            <img class="img-thumbnail" [src]="orthotreat" alt="orthotreat">
                        </div>
                        <div class="col-md-6">

                            <h1 class="text-success">Treatment in orthology</h1>
                            <h2>which provides skin, hair & nail care services, Laser treatments, cosmetic and
                                plastic
                                surgery
                                procedures.
                                Our Plastic surgeon and Dermatologist team will provide you highest standards of
                                personalised
                                and
                                professional Cosmetic treatments (Surgical and Non surgical).

                                Aesthetic medicine is an art and a science.

                                LOOK GOOD, FEEL BETTER has become the mantra for all of us.
                                The desire to achieve and maintain an attractive and youthful appearance is
                                universal.
                            </h2>

                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <div class="container">

            <div class="card bg-light text-dark">
                <div class="card-body">
                    <div class="container transone">

                        <div class="row">
                            <div class="col-md-6">

                                <h1 class="text-success">Treatment in Eye</h1>
                                <h2>The medicines in this section include those which act on the eyes, usually given as
                                    eye-drops or ointments. There are many different types of treatment for eye
                                    infections, for example chloramphenicol, fusidic acid and ciprofloxacin. Dry eyes
                                    can be easily treated over-the-counter with medicines such as hypromellose and
                                    carbomer, ask a pharmacist for advice.</h2>
                            </div>
                            <div class="col-md-6">
                                <img class="img-thumbnail" [src]="eyetreat" alt="eyetreat">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <br><br><br>
            <div class="card bg-light text-dark">
                <div class="card-body">
                    <div class="container trans">

                        <div class="row">
                            <div class="col-md-6">

                                <img class="img-thumbnail" [src]="hearttreat" alt="heartpic">
                            </div>
                            <div class="col-md-6">

                                <h1 class="text-success">Treatment in Heart</h1>
                                <h2>Your doctor will perform a physical exam and ask about your personal and family
                                    medical history. The tests you'll need to diagnose your heart disease depend on what
                                    condition your doctor thinks you might have. Besides blood tests and a chest X-ray,
                                    tests to diagnose heart disease</h2>

                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>

            <div class="container">

                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <div class="container transone">

                            <div class="row">
                                <div class="col-md-6">

                                    <h1 class="text-success">Treatment in Nerves</h1>
                                    <h2> Brain is the most complex organ in our body with more than 150 billion neurons
                                        (brain cells) that serve
                                        so many functions such as memory, judgement, personality development, sensory
                                        feelings, motor movements,
                                        coordination of the body, etc.

                                        Our nervous system works involuntarily and hence is called Autonomic Nervous
                                        System. It controls
                                        functions such as breathing, pumping of the heart, blood pressure control,
                                        gastro-intestinal function,
                                        urinary function, etc.

                                        The spinal cord and nerves transmit signals from the brain to muscles and other
                                        organs for normal
                                        functioning of the body.

                                        When there is a problem with the brain and nervous system, depending on the site
                                        that is involved, some
                                        very important functions are impaired or lost.</h2>
                                </div>
                                <div class="col-md-6">
                                    <img class="img-thumbnail" [src]="nerves" alt="nervestreatment">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <br><br><br>